@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
  --color-950: #020617;
  --color-900: #0f172a;
  --color-800: #1e293b;
  --color-700: #334155;
  --color-600: #475569;
  --color-500: #64748b;
  --color-400: #94a3b8;
  --color-300: #cbd5e1;
  --color-200: #e2e8f0;
  --color-100: #f1f5f9;
  --color-50: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 60px;
  grid-template-areas:
    "header"
    "library"
    "footer";
}

.header {
  grid-area: header;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.book-settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: max(500px, 60%);
  border: 1px solid var(--color-400);
}

.book-settings::backdrop {
  background-image: linear-gradient(var(--color-500), var(--color-500));
  opacity: 80%;
}

.book-form {
  padding: 20px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-title {
  background-color: var(--color-200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.binfo {
  width: 200px;
}

.binfo > input {
  border: 1px solid var(--color-400);
  border-radius: 5000px;
  padding: 8px;
}

.form-btn {
  align-self: center;
  width: 100px;
  height: 40px;
  font-size: 18px;
  border: 1px solid var(--color-400);
  border-radius: 5000px;
  background-color: var(--color-200);
}

.read-status.read {
  cursor: pointer;
  color: green;
  font-weight: bold;
}

.read-status {
  cursor: pointer;
  color: rgb(150, 2, 2);
  font-weight: bold;
}

.library {
  grid-area: library;
  padding: 50px;
  box-shadow: inset 0px 10px 32px -34px var(--color-600);
  background-color: var(--color-100);
}

.cards-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.book-card {
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
  border-radius: 16px;
  padding: 30px;
  background-color: var(--color-400);
  display: grid;
  row-gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "title ."
    "author read"
    "pages .";
}

.book-title {
  grid-area: title;
}

.book-author {
  grid-area: author;
  margin-top: -15px;
  margin-left: 5px;
  font-size: 14px;
  opacity: 70%;
}

.book-pages {
  grid-area: pages;
}

.book-read {
  grid-area: read;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.read-checkbox,
.read-checking > input {
  appearance: none;
  margin: 0;
  height: 20px;
  width: 20px;
  border: 0.15em solid black;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

.read-checkbox::before,
.read-checking > input::before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-600);
}

.read-checkbox:checked::before,
.read-checking > input:checked::before {
  transform: scale(1);
}

.add-book {
  background: radial-gradient(var(--color-400), var(--color-500));
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > a {
  gap: 10px;
  display: flex;
  align-items: center;
}

.github-page {
  text-decoration: none;
  font-weight: bold;
}

.github-page:visited {
  color: #020617;
}
